server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/galendar
    username: galendar
    password: Galander123!@#
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none

  jwt:
    secret: d0dde67a111b6a000b2eeaedbf0756538051784a199e143f4b70043d628f9154
    expiration: 86400000  # JWT ?? ?? (??? ??, ?: 1?)
